#quizApp.full-width {
  width: 100%;
}

#quizApp.article-width {
  max-width: 560px;
}

.quiz-wrap {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-family: "Austin News Text Roman",Georgia,Times,serif;
}

.quiz-question-block {
  counter-reset: item;
  margin-bottom: 30px;
}

.quiz-question-header {
  margin-bottom: 26px;
}

.quiz-question-number {
  display: inline-block;
  background: #008384;
  color: #fff;
}

.quiz-question-number,
.quiz-question-options ol li::before {
  border: 1px solid #008384;
  width: 50px;
  height: 38px;
  line-height: 42px;
  text-align: center;
  vertical-align: top;
}

.quiz-question-text {
  display: inline-block;
  min-height: 42px;
  vertical-align: middle;
  margin-left: 10px;
  width: calc(100% - 70px);
  font-weight: bold;
}

.quiz-question-text p {
  margin: 0;
}

.quiz-question-options ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-question-options ol li {
  counter-increment: item;
  margin-bottom: 14px;
  cursor: pointer;
}

.quiz-question-options ol li:before {
   margin-right: 10px;
   /*content: counter(item, upper-alpha);*/
   background: #fff;
   color: #008384;
   display: inline-block;
 }

 .quiz-question-options ol li:hover:before,
 .quiz-question-options ol li.selected:before {
   background: #252525;
   color: #fff;
   border: 1px solid #252525;
 }

 .quiz-question-options ol li.correct:before {
   background: #006022;
   color: #fff;
 }

 .quiz-question-options ol li.correct {
   color: #006022;
 }

  .quiz-question-options ol li.selected.incorrect {
    text-decoration: line-through;
  }

  .quiz-separator {
    margin: 18px auto;
    display: block;
    border: 0;
    border-bottom: 1px solid #ccc;
  }

 #submitBtn {
   background: #ddd;
   color: #fff;
   font-size: 18px;
   border: 0;
   padding: 10px 16px;
   cursor: not-allowed;
 }

 #submitBtn.active {
   background: #008384;
   cursor: pointer;
 }

 #restartBtn {
   color: #fff;
   font-size: 18px;
   border: 0;
   padding: 10px 16px;
   background: #008384;
   cursor: pointer;
   margin-top: 20px;
 }

 .quiz-outcome {
   border: 2px solid #008384;
   padding: 10px;
   opacity: 0;
   transition: all 2s ease-out 0s;
 }

 .quiz-outcome .score {
   display: inline-block;
   width: 200px;
   text-align: center;
   vertical-align: top;
 }

 .quiz-outcome .outcome {
   display: inline-block;
   width: 49%;
   vertical-align: top;
 }

 .quiz-outcome h3 {
   color: #008384;
   font-size: 18px;
 }

 .quiz-outcome .total-score {
   border-radius: 50%;
   border: 1px solid #008384;
   color: #008384;
   font-size: 42px;
   width: 124px;
   height: 124px;
   line-height: 124px;
   display: block;
   margin: 0 auto;
 }

 .quiz-competition {
   border: 0;
   width: 100%;
   opacity: 0;
   transition: all 1s ease-out 0s;
 }

.fade-in {
   opacity: 1;
 }
