.quiz-wrapper {
  background: $blue;
  color: $white;
  overflow: auto;
  padding: 20px;
  // min-height: 610px;
  width: 100%;

  @media (min-width: 730px) {
   width: 698px;
   margin-left: -60px;
  }

  @media (min-width: 1008px) {
    width: 620px;
    margin-left: -80px;
  }

  @media (min-width: 1326px) {
   width: 640px;
   margin-left: -80px;
  }

  button {
    min-width: 170px;
    display: block;
    margin: 30px auto;
    border: 0;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    font: normal 20px 'Telesans Text Regular', arial, sans-serif;
    color: $blue;
    cursor: pointer;
  }

  .lSPager {
    display: none;
  }

  .lSSlide {
    min-height: 350px;
  }

  .lSSlideOuter .lSPager.lSpg > li:first-child,
  .lSSlideOuter .lSPager.lSpg > li:last-child {
    display: none;
  }

  .lSSlideOuter .lSPager.lSpg > li a {
    background: transparent;
    border: 1px solid #fff;
  }

  .lSSlideOuter .lSPager.lSpg > li:hover a {
    background: transparent;
  }

  .lSSlideOuter .lSPager.lSpg > li.active a {
    background: #fff;
  }
}
