.quiz-questions-wrap {
  text-align: center;
  position: relative;

  @media (max-width: 948px) {
    margin: 0 auto;
  }

  .logo-inside {
    max-width: 135px;
    width: 80%;
    height: auto;
    margin: 26px auto 10px;
    display: none;
  }

  .quiz-question {
    position: relative;

    .quiz-video {
      max-width: 300px;
      width: 100%;
      position: absolute;
      margin-top: 0px;
      top: -30%;
      left: 50%;
      transform: translate(-50%, 70px);
      display: none;

      @media (max-width: 730px) {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      video {
        width: 100%;
      }
    }

    button {
      margin: 10px auto 0;
    }

    .question-copy {
      font: normal 30px 'Telesans Text Regular', arial,sans-serif;
      color: #fff;
      text-align: center;
      display: block;
      font-style: italic;
      margin: 20px auto 0;
      opacity: 1;
      font-style: italic;

      @media (max-width: 730px) {
        font: normal 24px 'Telesans Text Regular', arial,sans-serif;
        margin: 10px auto 0;
        font-style: italic;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 40px auto 0;
      text-align: center;
      opacity: 1;

      li {
        position: relative;
        display: inline-block;
        width: 24%;
        text-align: center;

        @media (max-width: 730px) {
          margin: 0;
          width: 48%;
        }

        @media (max-width: 400px) {
          max-width: 48%;
        }

        &::before {
          content: 'or';
          position: absolute;
          top: 50%;
          left: -9px;
          font: normal 10px 'fatfrank',sans-serif;
          text-transform: uppercase;

          @media (max-width: 730px) {
            display: none;
          }
        }

        &:first-child::before{
          content: '';
        }

        a {
          cursor: pointer;
          width: 80%;
          display: block;
          margin: 0 auto;

          img {
            display: block;
            width: 100%;
            margin: 0 auto;
          }
        }

        span {
          display: none;
        }


        &.correct a::after,
        &.incorrect a::after {
          content: ' ';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 5px solid rgba(255, 255, 255, 0.9);
          background: rgba(26, 62, 154, 0.8);
          cursor: pointer;
          width: 80%;
          margin: 0 auto;
        }



        &.answered.correct a::after {
          display: block;
          content: 'CORRECT';
          font: normal 18px/9 'fatfrank',sans-serif;
          text-align: center;

          @media (max-width: 730px) {
            font: normal 16px/9 'fatfrank',sans-serif;
          }
        }

        &.answered.incorrect a::after {
          display: block;
          content: 'INCORRECT';
          font: normal 18px/9 'fatfrank',sans-serif;
          text-align: center;

          @media (max-width: 730px) {
            font: normal 16px/9 'fatfrank',sans-serif;
          }
        }

      }
    }
  }
}

.quiz-wrapper.desktop {
  .quiz-questions-wrap {
    .quiz-question {
      ul{
        li {
          a:hover::after{
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 5px solid rgba(255, 255, 255, 0.9);
            background: rgba(26, 62, 154, 0.8);
            cursor: pointer;
            width: 80%;
            margin: 0 auto;
          }

          &.answered a:hover::after {
            display: none;
          }

          &.answered.correct a:hover::after {
            display: block;
            content: 'CORRECT';
          }

          &.answered.incorrect a:hover::after {
            display: block;
            content: 'INCORRECT';
          }
        }
      }
    }
  }
}
