.quiz-result {
  padding-top: 30px;

  @media (max-width: 730px) {
    padding-top: 0;
  }

  button {
    @media (max-width: 730px) {
      margin: 10px auto;
    }
  }

  .result-copy {
    display: inline-block;
    width: 48%;
    padding: 10px;
    vertical-align: top;
    text-align: center;

    @media (max-width: 730px) {
      width: 90%;
      display: block;
    }

    h3 {
      font: normal 32px 'fatfrank',sans-serif;
      margin-top: 0;
      text-transform: uppercase;
      margin-bottom: 20px;

      @media (max-width: 730px) {
        font: normal 22px 'fatfrank',sans-serif;
      }
    }

    p {
      font: normal 16px/20px 'Telesans Text Regular', arial, sans-serif;
      max-width: 340px;
      text-align: center;
      margin: 0 auto;

      @media (max-width: 730px) {
        font: normal 14px 'Telesans Text Regular', arial, sans-serif;
        width: 90%;
        max-width: 90%;
      }
      a,
      a:visited,
      a:focus {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .result-video {
    display: inline-block;
    width: 49%;
    padding: 10px;
    vertical-align: top;

    @media (max-width: 730px) {
      width: 90%;
      display: block;
    }

    video {
      width: 100%;
    }
  }

}
